.main-header, 
.main-footer {
    background-color: #D9C38C;
}
 
.social-block, 
.subscribe-block, 
.search-block, 
.tags-block {
    border-bottom: 2px solid #DED59C;
}

.logo {
    height: 100px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #DED59C;
    background-color: transparent;
}

input[type="submit"] {
    background-color: #DED59C;
    color: white;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #A47737;
}

.main-header .social img {
    width: 40px;
    height: 40px;
}

.main-header .social li:first-child {
    margin-right: 100px;
}

.main-header .menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.main-header .menu a:hover {
    color: #A47737;
}

.main-content article {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-content section {
    border: 2px solid #DED59C;
    border-radius: 10px;
    padding: 20px;
}

section h2 {
    margin: 0;
}

.card-img-container {
    overflow: hidden;
    width: 200px;
}

.card-img {
    display: block;
    transition: all 1s ease-out;
    width: 100%;
}

section:hover .card-img {
    transform: scale(1.5);
}

section .n-comments img {
    width: 15px;
    height: 15px;
}

section .description {
    text-align: justify;
}

section p:last-child {
    margin: 0;
}

.author-info,
.other-info {
    border: 2px solid #DED59C;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0 20px 20px;
    text-align: center;
}

.author-info img {
    max-height: 100px;
}

.other-info {
    margin-top: 0;
}

.other-info .social-block{
    margin-top: 0;
}

.other-info .social-block img {
    width: 50px;
    height: 50px;
}

.other-info .tags-block {
    text-align: center;
    padding: 10px;
}

.other-info .comments-block {
    border: 1px solid #DED59C;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}

.other-info .comments-block img {
    border-radius: 200px;
    width: 50px;
    height: 100%;
}

.other-info .comments-block h4,
.other-info .comments-block p {
    margin: 0 0 0 10px;
}

.other-info .comments-block span {
    color: grey;
    font-weight: normal; 
    margin: 0 0 0 10px;
    font-size: 0.7em;
}

.main-footer {
    font-size: 20px;
}

@media all and (max-width: 1080px) {   
    .main-header .menu,
    .main-header .social li:nth-child(n+2) {
        display: none;
    }
    .menu-icon {
        display: block;
        width: 45px;
        height: 35px;
        position: relative;
        cursor: pointer;
    }
    .menu-icon span {
        display: block;
        position: absolute;
        height: 8px;
        width: 100%;
        background: white;
        border-radius: 10px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .menu-icon span:nth-child(1) {
        top: 0px;
    }
    .menu-icon span:nth-child(2), 
    .menu-icon span:nth-child(3) {
        top: 13px;
    }
    .menu-icon span:nth-child(4) {
        top: 26px;
    }

    .main-header .social li:first-child {
        margin-right: 20px;
    }

    .main-content {
        margin: 0 20px 0 20px;
    }
    .author-info {
        margin: 20px 20px 0 20px;
    }
    .other-info {
        margin: 0 20px 20px 20px;
    }
    .other-info .search-block input[type="text"], 
    .other-info .search-block input[type="submit"] {
        flex-grow: 1;
    }
}